.header {
  background-color: #000;
  color: #b89393;
  padding-left: 10px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  margin-top: 0px;
}

.body {
  background-color: rgba(0, 0, 0, 0.4);
}
